# Pengenalan dan Penggunaan SQLite di Python
### 1. **Pendahuluan**
SQLite adalah sistem manajemen database ringan yang dapat digunakan langsung di dalam aplikasi Python tanpa memerlukan server terpisah. SQLite menyimpan data dalam file tunggal, sehingga sangat praktis untuk aplikasi kecil atau proyek yang tidak membutuhkan database besar.

---
### 2. **Instalasi SQLite**
SQLite sudah terinstal secara default di Python melalui modul `sqlite3`. Anda tidak perlu menginstal apa pun untuk mulai menggunakan SQLite. Untuk memastikan SQLite sudah terpasang, Anda bisa mencoba mengimpor modul berikut di Python:

In [162]:
import sqlite3

Jika tidak ada error, itu berarti SQLite sudah siap digunakan.

Ekstensi vs code yang digunakan untuk melihat isi database sqlite:
`SQLite Viewwer`

---

### 3. **Membuat Koneksi ke Database SQLite**

In [163]:
# Membuat atau membuka database
conn = sqlite3.connect('my_database.db')

# Membuat objek cursor untuk mengeksekusi SQL
cursor = conn.cursor()

In [164]:
# Pastikan untuk selalu menutup koneksi setelah selesai bekerja
conn.close()

---

### 4. **Membuat Tabel**
Setelah berhasil terkoneksi, kita bisa membuat tabel dalam database dengan menggunakan perintah SQL `CREATE TABLE`.

In [165]:
# Membuka koneksi ke database
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Membuat tabel pengguna
cursor.execute('''
CREATE TABLE IF NOT EXISTS pengguna (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nama TEXT NOT NULL,
    usia INTEGER,
    email TEXT UNIQUE
)
''')

# Menyimpan perubahan dan menutup koneksi
conn.commit()
conn.close()

Penjelasan SQL:

- `id` `INTEGER` `PRIMARY KEY` `AUTOINCREMENT`: Kolom id adalah primary key yang otomatis bertambah setiap kali data baru dimasukkan.
- `nama` `TEXT` `NOT NULL`: Kolom nama berjenis teks dan tidak boleh kosong.
- `usia` `INTEGER`: Kolom usia berjenis integer.
- `email` `TEXT` `UNIQUE`: Kolom email berjenis teks dan harus unik (tidak ada email yang duplikat).

---

### 5. **Menambahkan Data ke Tabel**
Setelah tabel dibuat, kita bisa memasukkan data ke dalamnya menggunakan perintah `INSERT INTO`.

In [166]:
# Menambahkan Data ke Tabel
# Membuka koneksi
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Menambahkan data pengguna
cursor.execute('''
INSERT INTO pengguna (nama, usia, email) 
VALUES ('Widi', 22, 'ali@example.com')
''')

# Menyimpan perubahan dan menutup koneksi
conn.commit()
conn.close()

contoh memasukkan data dengan inputan user:

In [167]:
# Membuka koneksi
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Meminta input dari pengguna
nama = input('Masukkan nama: ')
usia = int(input('Masukkan usia: '))
email = input('Masukkan email: ')

# Menambahkan data pengguna
cursor.execute('''
INSERT INTO pengguna (nama, usia, email)
VALUES (?, ?, ?)
''', (nama, usia, email))

# Menyimpan perubahan dan menutup koneksi
conn.commit()
conn.close()

---

### 6. **Mengambil Data dari Tabel**
Untuk mengambil data dari tabel, kita bisa menggunakan perintah SQL `SELECT`. Fungsi `fetchall()` atau `fetchone()` digunakan untuk mengambil hasil query.

In [168]:
# Mengambil Data dari Tabel
# Membuka koneksi
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Mengambil semua data pengguna
cursor.execute('SELECT * FROM pengguna')
data_pengguna = cursor.fetchall()

# Menampilkan data
for pengguna in data_pengguna:
    print(pengguna)

# Menutup koneksi
conn.close()

(1, 'Widi', 22, 'ali@example.com')
(2, 'Ilham', 22, 'ilham@mail.com')

Penjelasan:

- `cursor.execute('SELECT * FROM pengguna')`: Mengambil semua baris data dari tabel pengguna.
- `fetchall()`: Mengambil semua hasil query yang ada.
- Jika Anda hanya ingin mengambil satu baris, Anda bisa menggunakan `fetchone()`.

---

### 7. **Memperbarui Data dalam Tabel**
Untuk memperbarui data dalam tabel, kita menggunakan perintah SQL `UPDATE`.
Contoh memperbarui usia pengguna:

In [169]:
# Memperbarui Data dalam Tabel
# Membuka koneksi
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Memperbarui data pengguna
cursor.execute('''
UPDATE pengguna 
SET usia = 26 
WHERE nama = "Widi"
''')

# Menyimpan perubahan dan menutup koneksi
conn.commit()

# Menampilkan data
cursor.execute('SELECT * FROM pengguna')
data_pengguna = cursor.fetchall()
for pengguna in data_pengguna:
    print(pengguna)

# Menutup koneksi
conn.close()

(1, 'Widi', 26, 'ali@example.com')
(2, 'Ilham', 22, 'ilham@mail.com')

---

### 8. **Menghapus Data dari Tabel**
Untuk menghapus data dalam tabel, kita menggunakan perintah SQL `DELETE`. Contoh menghapus data pengguna:

In [170]:
# Menghapus Data dari Tabel
# Membuka koneksi
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Menghapus data pengguna
cursor.execute('''
DELETE FROM pengguna WHERE nama = 'Widi'
''')

# Menyimpan perubahan dan menutup koneksi
conn.commit()
conn.close()